.zoom-button-group {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.zoom-decrease {
    border-right: 1px solid lightgray;
}

.zoom-increase {
    border-left: 1px solid lightgray;
}

.settings-section-title {
    font-weight: bold;
    font-size: 1.5em;
}

.setting-title {
    font-weight: lighter;
}